pip==23.2.1
Flask==2.0.1
dnspython==2.1.0
bcrypt==3.2.0
mysql-connector-python==8.0.26
sqlalchemy==1.4.25
mysqlclient==2.1.0
pymongo==3.12.0
pyotp==2.6.0
pymongo[srv]==3.12.0
python-dotenv
gunicorn==20.1.0
